/Din_Reto_1_Factory/nbproject/private/
/Din_Reto_1_Factory/build/
/Din_Reto_1_Factory/dist/
/Din_Reto_1_Factory/nbproject/genfiles.properties
/Din_Reto_1_Factory/nbproject/build-impl.xml
/Din_Reto_1_Factory/nbproject/jfx-impl_backup.xml
/Din_Reto_1_Factory/nbproject/UPDATED.TXT